/* .fixed .content-wrapper, .fixed .right-side {
    padding-top: 60px;
}
.content-wrapper {
    height: 750px;
}
.content-header {
    position: relative;
    padding: 15px 30px 0px;
}
.content {
    min-height: 250px;
    padding: 30px 30px 0px 30px;
    margin-right: auto;
    margin-left: auto;
}
.box {
    -webkit-transition: .5s;
    transition: .5s;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-shadow: 0 1px 15px 1px rgba(69,65,78,.08);
    -moz-box-shadow: 0 1px 15px 1px rgba(69,65,78,.08);
    box-shadow: 0 1px 15px 1px rgba(69,65,78,.08);
    padding-bottom: 28px;
}

.box-body {
    transition: .5s;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 15px 1px rgba(69,65,78,.08);
    padding-bottom: 28px;
    padding: 20px;
    background-color: #fff;
}
 */

#map {
    height: 500px;
    width: 100%;
    margin-top: 15px;
}

.prod {
    text-align: right;
    padding-top: 10px;
    padding-right: 30px;
}