<div class="top-head">
<p>Header Top</p>
</div>
  
  <div class="page-sidebar">
    <div class="sidebar-inner force-overflow" id="main-menu-wrapper">
      <div class="profile-info row short-profile">
          <p>SideBar</p>
      </div>
  
      <ul class="wraplist">
        <li class="menuLi"><a routerLink="/portal/home"><span
              class="menu-title">Home</span></a></li>
        <li class="menuLi"><a routerLink="/portal/producr"> 
            <span class="menu-title">Manage Products</span></a></li>
        <li class="menuLi"><a routerLink="/portal/product-details">
            <span class="menu-title">Manage Orders</span></a></li>
     
      </ul>
    </div>
  </div>

  <section id="main-content" class="sidebar_shift">
    <section class="wrapper main-wrapper row">
      <router-outlet></router-outlet>
      <!-- <app-footer></app-footer> -->
    </section>
  </section>