<div class="form-group">
    <div>
      <label class="control-label">
       {{label}}
       <span class="required-star" *ngIf="isMandatory"> *</span> :
        <ng-container *ngIf="modelRef.invalid && modelRef.touched">
          <span class="help-block error-block" *ngIf="sharedVar!=null && invalidMsg == undefined"> &nbsp; Invalid</span>
          <span class="help-block error-block" *ngIf="sharedVar!=null && invalidMsg != undefined"> &nbsp; {{invalidMsg}}</span>
          <span class="help-block error-block" *ngIf="sharedVar==null && showErrorMessage != false">&nbsp; Required</span>
        </ng-container>
      </label>
      <!-- <span class="help-block warning-block" *ngIf="!lengthValid"> Maximum allowed digits are {{maxLength}}</span>
      <span *ngIf="toolTip!=''" tooltip="{{toolTip}}" placement="top" show-delay="500" style="margin-left:10px"><i class="fa fa-question-circle"></i></span> -->
      <input type="text" class="form-control" [id]="fieldId" [name]="fieldId" [placeholder]="label" [(ngModel)]="sharedVar" (ngModelChange)="change($event)"
        [required]="isMandatory" [pattern]="pattern" #modelRef="ngModel" (keypress)="keyPress($event.target.value)" ChildFieldValidation [disabled]="isDisabled">
    </div>
  </div>